{% extends 'base2.html.twig' %}

{% block title %}Ajout produit
{% endblock %}

{% block body %}

	<h1>Produits</h1>
	<h2>nb =
		{{ nb }}
	</h2>

	<div class="container">
		{% for message in app.flashes('notice') %}

			<div class="alert alert-success" role="alert">
				{{ message }}
			</div>
		{% endfor %}

		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">id</th>
					<th scope="col">Nom</th>
					<th scope="col">Prix</th>
					<th scope="col">Description</th>
					<th scope="col">Categorie</th>
					<th scope="col">Detail</th>
					<th scope="col">Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for p in produits %}
					<tr>
						<th scope="row">{{ p.id }}</th>
						<td>{{ p.nom }}</td>
						<td>{{ p.prix }}</td>
						<td>{{ p.description }}</td>
						<td>{{ p.categorie.nom }}</td>
						<td>
							<a href="{{ path('app_produit_detail',{'id':p.id})}}">detail</a>
						</td>
						<td>
							{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path('app_produit_delete',{'id':p.id})}}">Supprimer</a>
							{% endif %}


						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
