{% extends "base2.html.twig" %}

{% block name %}
    Je suis dans la page qui fait la somme
{% endblock %}
{% block menu_color %}
     navbar-dark bg-dark
  {% endblock %}
{% block body %}
 La somme de {{ a }} + {{ b }} = {{ som }}
          <br> La route est : {{ routeName }}
         {# Les attributs sont : {{ dump(attributs) }} <br>#}
          Objet Request :<br>
          {#  dump(request) #}
          <a href="{{ path('app_test2') }}">aller a la page test2 </a>

  
{% endblock %}